$light_color: #ffffff;
$dark_color: #121212;
$dark_color_input: #212121;
$border_color: #f5f5f5;
$example_color: #757575;

$gradient_color: #50b5eb, #41c7ee, #48d8ec, #64e8e6, #87f6dd;


$breakpoint_tablet: 768px;